{% extends "base.html" %}
{% block content %}
<!-- This is the 'Contribute' page, where users can submit a form related to their dataset and upload it to the repository -->

<div class="panel panel-default">
<div class="panel-heading text-center" id="panel-heading">
  <h2><b>Interested in Adding a new Resource to this Website? Fill out the form below!</b></h2>
</div>


<!-- Inputting Username and Password (later can be replaced with a Login button)  -->

<div class="panel-body">

<form method='post' action='contribute_resource'>

<!-- Submission Name -->
    <div class="form-group row">
      <label for="text-input" class="col-3 col-form-label">Name of Resource</label>
      <div class="col-12">
        <input required name = "new_submission_name" class="form-control" type="text" placeholder="Please input the new Resource name" id="text-input">
      </div>
    </div>

<!-- Submission Description -->

    <div class="form-group row">
      <label for="text-input" class="col-3 col-form-label">Description of Resource</label>
      <div class="col-12">
        <textarea name = "new_submission_description" class="form-control" type="text" id="text-input" placeholder="Please include a description of Resource"></textarea>
      </div>

<!-- External Link-->

    </div>
    <div class="form-group row">
      <label for="text-input" class="col-3 col-form-label">External Link to Resource</label>
      <div class="col-12">
        <input name = "new_submission_link" class="form-control" type="text" id="text-input" placeholder="Please include an external link to the Resource">
      </div>
    </div>
      <br />
<!-- Press 'submit' which redirects user to the Contribute page and initiates upload -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
</form>
</div>
</div>
{% endblock %}
