{% extends "base.html" %}
{% block content %}
<div align = "center" >
  <h1>Contribute</h1>
  <h3>What would you like to contribute?</h3>
  <br />
  <br />
  <div class="row justify-content-center">
          <div id="option" class="col-3">
            <a id= "glyph" href="/contribute_resource"><span class="glyphicon glyphicon-plus"></span></a>
            <h4>Contribute Resource</h4>
          </div>
          <div id="option" class="col-3">
            <a id= "glyph"  href="/contribute_dataset"><span class="glyphicon glyphicon-plus"></span></a>
            <h4>Contribute Dataset</h4>
          </div>
  </div>
{% endblock %}
