{% extends "base.html" %}
{% block content %}
<div align = "center" >
  <h1>{{ gene.symbol }}</h1>
</div>
<div class="container">
  <p><strong>Symbol:</strong> {{ gene.symbol }}</p>
  <p><strong>Name:</strong> {{ gene.name }}</p>
  <hr>
  <p><strong>Old Symbol(s):</strong> {{ gene.old_symbol }}</p>
  <p><strong>Old Name(s):</strong> {{ gene.old_name }}</p>
  <hr>
  <p><strong>Synonym(s):</strong> {{ gene.synonyms }}</p>
  <p><strong>Name Synonym(s):</strong> {{ gene.name_synonyms }}</p>
  <hr>
  <p><strong>Chromosome:</strong> {{ gene.chromosome }}</p>
  <hr>
  <p><strong>Accession Number(s):</strong> {{ gene.accession_numbers }}</p>
  <p><strong>Entrez Gene ID:</strong> {{ gene.entrez_gene_id }}</p>
  <p><strong>Ensembl Gene ID:</strong> {{ gene.ensembl_gene_id }}</p>
  <p><strong>Pubmed ID(s):</strong> {{ gene.pubmed_ids}}</p>
  <p><strong>RefSeq ID(s):</strong> {{ gene.refseq_ids}}</p>
  <p><strong>Uniprot ID:</strong> {{ gene.uniprot_id}}</p>
</div>
{% endblock %}
