{% extends "base.html" %}
{% block content %}
<div align = "center" >
  <h1>Welcome to BioNetBay!</h1>
  <h2>This is the home page!</h2>
  <p>Enter gene to search here:</p>

  <!-- Search Button -->

  <form id="search" method='post' action='/search/'>
      <div class="form-group">
      <div class="col-4">
        <input name = 'gene' class="form-control" type="text" placeholder="Please input gene symbol to search the data">
      </div>
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
