{% extends "base.html" %}
{% block content %}

<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
     {% for category, message in messages %}
     <div class="alert alert-success" id="success-alert" align="center">
         <button type="button" class="close" data-dismiss="alert">x</button>
         <strong >{{ message }}</strong>
     </div>
     {% endfor %}
   {% endif %}
  {% endwith %}
</div>

<div class="container">

  <div class="row">

    <div align="center" class="col-3 col-md-3">
      <br>
      <br>
      <br>
      <a id= "glyph" href="/about/">
        <div id="option">
          <span class="glyphicon glyphicon-info-sign"></span>
          <h4>About</h4>
        </div>
      </a>
    </div>

    <div align="center" class="col-3 col-md-3">
      <a id= "glyph" href="/contribute_file">
        <div id="option">
          <span class="glyphicon glyphicon-plus"></span>
          <strong>Contribute to the Repository</strong>
        </div>
      </a>
    </div>

    <div align="center" class="col-3 col-md-3">
      <a id= "glyph" href="/resources/">
        <div id="option">
          <span class="glyphicon glyphicon-signal"></span>
          <strong>Resources: {{ resources }}</strong><br>
          <strong>Datasets: {{ datasets }}</strong> <br>
          <strong>Files: {{ files }}</strong>
        </div>
      </a>
    </div>

    {% if current_user.is_authenticated %}
    <div align="center" class="col-3 col-md-3">
      <br>
      <br>
      <br>
      <a id= "glyph" href="/logout">
        <div id="option">
          <span class="glyphicon glyphicon-log-out"></span>
          <h4>Logout</h4>
        </div>
      </a>
    </div>
    {% else %}
    <div align="center" class="col-3 col-md-3">
      <br>
      <br>
      <br>
      <a id= "glyph" href="/login">
        <div id="option">
          <span class="glyphicon glyphicon-log-in"></span>
          <h4>Login</h4>
        </div>
      </a>
    </div>
    {% endif %}

  </div>
  <br>

  <div class="row">

    <div align="center" class="col-1 col-md-1">
    </div>

    <div align="center" class="col-10 col-md-10">
      <div id="pieChart"></div>
    </div>

    <div align="center" class="col-1 col-md-1">
    </div>


  </div>

  <div class="row">

    <div align="center" class="col-4 col-md-4">
      <a href="/resources"><div id="pieChart2"></div></a>
    </div>

    <div align="center" class="col-4 col-md-4">
      <br>
      <br>
      <br>
      <br>
      <a href="/resources"><div id="pieChart3"></div></a>
    </div>

    <div align="center" class="col-4 col-md-4">
      <a href="/resources"><div id="pieChart4"></div></a>
    </div>
  </div>
</div>
<hr>

    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.7.2/d3.min.js"></script>
    <script src="/static/css/d3pie.js"></script>
    <script>
    var pie = new d3pie("pieChart", {
    	"header": {
    		"title": {
    			"text": "BioNetBay",
    			"fontSize": 60,
    			"font": "Sans-serif"
    		},
    		"subtitle": {
    			"text": "A Repository for Molecular Networks and Gene Sets",
    			"color": "#999999",
    			"fontSize": 12,
    			"font": "Sans-serif"
    		},
    		"location": "pie-center",
    		"titleSubtitlePadding": 10
    	},
    	"footer": {
    		"text": "",
    		"color": "#999999",
    		"fontSize": 10,
    		"font": "open sans",
    		"location": "bottom-left"
    	},
    	"size": {
    		// "canvasWidth": 790,
    		"pieInnerRadius": "95%",
    		"pieOuterRadius": "100%"
    	},
    	"data": {
    		"sortOrder": "label-desc",

    		"content": [
          {% for element in count %}
    			{
    				"label": "{{ element.name }}",
    				"value": {{ element.stat }},
    			},
          {% endfor %}
    		]

    	},
    	"labels": {
    		"outer": {
    			"format": "label-percentage1",
    			"pieDistance": 10
    		},
    		"inner": {
    			"format": "none"
    		},
    		"mainLabel": {
    			"fontSize": 12
    		},
    		"percentage": {
    			"color": "#999999",
    			"fontSize": 11,
    			"decimalPlaces": 0
    		},
    		"value": {
    			"color": "#cccc43",
    			"fontSize": 11
    		},
    		"lines": {
    			"enabled": true,
    			"color": "#777777"
    		},
    		"truncation": {
    			"enabled": true
    		}
    	},
    	"effects": {
    		"pullOutSegmentOnClick": {
    			"effect": "none",
    			"speed": 400,
    			"size": 8
    		}
    	},
    	"misc": {
    		"colors": {
    			"segmentStroke": "#000000"
    		}
    	},
      "tooltips": {
        enabled: true,
        type: "placeholder",
        string: "{label}, {value}, {percentage}%"
      }
    });
    </script>

    <script>
    var pie = new d3pie("pieChart2", {
      "header": {
        "title": {
          "text": "Interactions",
          "fontSize": 16,
          "font": "Sans-serif"
        },
        "subtitle": {
          "text": "",
          "color": "#999999",
          "fontSize": 10,
          "font": "Sans-serif"
        },
        "location": "pie-center",
        "titleSubtitlePadding": 10
      },
      "footer": {
        "text": "",
        "color": "#999999",
        "fontSize": 10,
        "font": "open sans",
        "location": "bottom-left"
      },
      "size": {
        "canvasHeight": 200,
        "canvasWidth": 350,
        "pieInnerRadius": "95%",
        "pieOuterRadius": "75%"
      },
      "data": {
        "sortOrder": "label-desc",

        "content": [
          {% for element in interactions_count %}
          {
            "label": "{{ element.name }}",
            "value": {{ element.stat}},
          },
          {% endfor %}
        ]

      },
      "labels": {
        "outer": {
          "format": "label-percentage2",
          "pieDistance": 6
        },
        "inner": {
          "format": "none"
        },
        "mainLabel": {
          "fontSize": 11
        },
        "percentage": {
          "color": "#999999",
          "fontSize": 11,
          "decimalPlaces": 0
        },
        "value": {
          "color": "#cccc43",
          "fontSize": 7
        },
        "lines": {
          "enabled": true,
          "color": "#777777"
        },
        "truncation": {
          "enabled": true
        }
      },
      "effects": {
        "pullOutSegmentOnClick": {
          "effect": "none",
          "speed": 400,
          "size": 8
        }
      },
      "misc": {
        "colors": {
          "segmentStroke": "#000000"
        }
      },
      tooltips: {
        enabled: true,
        type: "placeholder",
        string: "{label}, {value}, {percentage}%"
      }
    });
    </script>

    <script>
    var pie = new d3pie("pieChart3", {
      "header": {
        "title": {
          "text": "Associations",
          "fontSize": 16,
          "font": "Sans-serif"
        },
        "subtitle": {
          "text": "",
          "color": "#999999",
          "fontSize": 10,
          "font": "Sans-serif"
        },
        "location": "pie-center",
        "titleSubtitlePadding": 10
      },
      "footer": {
        "text": "",
        "color": "#999999",
        "fontSize": 10,
        "font": "open sans",
        "location": "bottom-left"
      },
      "size": {
        "canvasHeight": 200,
        "canvasWidth": 350,
        "pieInnerRadius": "95%",
        "pieOuterRadius": "75%"
      },
      "data": {
        "sortOrder": "label-desc",

        "content": [
          {% for element in associations_count %}
          {
            "label": "{{ element.name }}",
            "value": {{ element.stat }},
          },
          {% endfor %}
        ]

      },
      "labels": {
        "outer": {
          "format": "label-percentage2",
          "pieDistance": 6
        },
        "inner": {
          "format": "none"
        },
        "mainLabel": {
          "fontSize": 11
        },
        "percentage": {
          "color": "#999999",
          "fontSize": 11,
          "decimalPlaces": 0
        },
        "value": {
          "color": "#cccc43",
          "fontSize": 7
        },
        "lines": {
          "enabled": true,
          "color": "#777777"
        },
        "truncation": {
          "enabled": true
        }
      },
      "effects": {
        "pullOutSegmentOnClick": {
          "effect": "none",
          "speed": 400,
          "size": 8
        }
      },
      "misc": {
        "colors": {
          "segmentStroke": "#000000"
        }
      },
      "tooltips": {
        enabled: true,
        type: "placeholder",
        string: "{label}, {value}, {percentage}%"
      }
    });
    </script>

    <script>
    var pie = new d3pie("pieChart4", {
      "header": {
        "title": {
          "text": "Ontologies",
          "fontSize": 16,
          "font": "Sans-serif"
        },
        "subtitle": {
          "text": "",
          "color": "#999999",
          "fontSize": 10,
          "font": "Sans-serif"
        },
        "location": "pie-center",
        "titleSubtitlePadding": 10
      },
      "footer": {
        "text": "",
        "color": "#999999",
        "fontSize": 10,
        "font": "open sans",
        "location": "bottom-left"
      },
      "size": {
        "canvasHeight": 200,
        "canvasWidth": 350,
        "pieInnerRadius": "95%",
        "pieOuterRadius": "75%"
      },
      "data": {
        "sortOrder": "label-desc",

        "content": [
          {% for element in ontologies_count %}
          {
            "label": "{{ element.name }}",
            "value": {{ element.stat}},
          },
          {% endfor %}
        ]

      },
      "labels": {
        "outer": {
          "format": "label-percentage2",
          "pieDistance": 6
        },
        "inner": {
          "format": "none"
        },
        "mainLabel": {
          "fontSize": 11
        },
        "percentage": {
          "color": "#999999",
          "fontSize": 11,
          "decimalPlaces": 0
        },
        "value": {
          "color": "#cccc43",
          "fontSize": 7
        },
        "lines": {
          "enabled": true,
          "color": "#777777"
        },
        "truncation": {
          "enabled": true
        }
      },
      "effects": {
        "pullOutSegmentOnClick": {
          "effect": "none",
          "speed": 400,
          "size": 8
        }
      },
      "misc": {
        "colors": {
          "segmentStroke": "#000000"
        }
      },
      tooltips: {
        enabled: true,
        type: "placeholder",
        string: "{label}, {value}, {percentage}%"
      }
    });
    </script>


    <!-- <form id="search" method='post' action='/search/'>
        <div class="form-group">
        <div class="col-4">
          <input id="hero-demo" name = 'gene' autofocus type="text" name="q" placeholder="Please input gene symbol to search the data" style="width:100%;max-width:600px;outline:0">
        </div>
      </div>
      <script>
        $(function(){
                $('#hero-demo').autoComplete({
                    minChars: 2,
                    source: function(term, suggest){
                        term = term.toLowerCase();
                        var choices = genesList;
                        var suggestions = [];
                        for (i=0;i<choices.length;i++)
                            if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                        suggest(suggestions);
                    }
                });
              });
        </script>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->
      <script>$("#success-alert").fadeTo(2000, 500).slideUp(500, function(){$("#success-alert").slideUp(500);});</script>
</div>
{% endblock %}
