{% extends "base.html" %}
{% block content %}
<script>
  function handleClick(cb) {
    // window.alert("Clicked, new value = " + cb.name +' '+cb.checked);
    $('tbody tr td.Type').each(function() {
      var test = $(this).attr('id');
      if(test == cb.value){
        $(this).parent().toggle();
      }
        });
}
</script>

<br />
<br />
<br />
<div id="Resources-row" class="container-fluid">
  <div class='col-sm-9'>
    <div class="container text-center">
      <div class="scrollingTable">
          <table id="example" class="display" cellspacing="0" width="100%" table-layout="fixed">
            <thead>
              <tr>
                <th>Name</th>
                <!-- <th>Description</th> -->
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              {% for resource in resources %}
              {% for dataset in datasets %}
              {% if dataset.resource == resource.name %}
             <tr>
               <td><a href='/resourcepage/{{ resource.name }}'>{{ resource.name }}</a></td>
               <!-- <td>{{ resource.description }}</td> -->
               <td class="Type" id="{{ dataset.category }}">
              {{ dataset.category }}
                 {% endif %}
                 {% endfor %}
               </td>
             </tr>
             {% endfor %}
             </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='col-sm-3'>
    <h3>Filter Resources</h3>
    <div id="filter">
      <div class="checkbox"><label><input type="checkbox" value="Transcriptomics" onclick='handleClick(this);' checked>Transcriptomics</label></div>
      <div class="checkbox"><label><input type="checkbox" value="Protein-Protein" onclick='handleClick(this);' checked>Protein-Protein</label></div>
      <div class="checkbox"><label><input type="checkbox" value="Kinase-Substrate" onclick='handleClick(this);' checked>Kinase-Substrate</label></div>
      <div class="checkbox"><label><input type="checkbox" value="Transcription Factor-Target" onclick='handleClick(this);' checked>Transcription Factor-Target</label></div>
    </div>
  </div>
</div>
{% endblock %}
