{% extends "base.html" %}
{% block content %}
<div align = "center" >
  <h1>This is the {{ resource }} Resource page!</h1>
  <div>
    <p>Name: {{ resource }} stuff</p>
    <p>Description: {{ resource }} stuff</p>
    <p>Measurement: {{ resource }} stuff</p>
    <p>Category: {{ resource }} stuff</p>
    <p>Linc to resource wesite: {{ resource }} stuff</p>
    <p>Stats: {{ resource }} stuff</p>
    <p>Scripts: {{ resource }} stuff</p>
    <p>Processed Files: {{ resource }} stuff</p>
    <p>Awsomely Cool Visualization(s): {{ resource }}</p>
  </div>
</div>
{% endblock %}
