{% extends "base.html" %}
{% block content %}
<div align = "center" >
  <h1>{{ resource.name }}</h1>
</div>
<div class="container">
  <p><strong>Name:</strong> {{ resource.name }}</p>
  <p><strong>Description:</strong> {{ resource.description }}</p>
  <hr>
  <p><strong>Citation(s):</strong>
    {% for citation in citations %}
    <li><a href={{ citation.citation }}>{{ citation.citation }}</a></li>
    {% endfor %}
  </p>
  <hr>
  <p><strong>External Link:</strong> <a href={{ resource.external_link }}>{{ resource.external_link }}</a></p>
  <hr>
  <p><strong>Datasets:</strong></p>
  {% for dataset in datasets %}
  <li><a href='/datasetpage/{{ dataset.name }}'>{{ dataset.name }}</a></li>
  {% endfor %}
</div>
{% endblock %}
